<template>
  <div>
    <div>
      <h1 class="text-xl font-bold text-[#212121]">공지사항</h1>
      <h2 class="text-[13px] text-[#5e5e5e]">공지사항 수정</h2>
    </div>
    <div class="mt-5" v-if="boards">
      <el-form
          style="max-width: 600px"
          :model="boardForm"
          label-width="auto"
          class="demo-ruleForm"
      >
        <div class="text-[13px] text-[#5e5e5e] font-bold mb-1">제목</div>
        <el-form-item prop="title">
          <el-input
              v-model="boardForm.title"
              style="width: 100%"
              maxlength="50"
              show-word-limit
              type="text"
          />
          <div style="margin: 20px 0"/>
        </el-form-item>
        <div class="text-[13px] text-[#5e5e5e] font-bold mb-1">내용</div>
        <el-form-item prop="text">
          <el-input
              v-model="boardForm.text"
              maxlength="500"
              style="width: 100%"
              rows="15"
              show-word-limit
              type="textarea"
          />

        </el-form-item>
        <el-form-item prop="img">
          <el-upload
              ref="img"
              style="width: 100%"
              class="upload-demo mt-3"
              action="https://run.mocky.io/v3/9d059bf9-4660-45f2-925d-ce80ad6c4d15"
              :limit="3"
              :on-preview="handlePreview"
              :on-remove="handleRemove"
              list-type="picture"
          >
            <el-button type="primary">사진 첨부하기</el-button>
            <template #tip>
              <div class="el-upload__tip">
                jpg/png 이미지 파일을 500kb 미만으로 최대 3장까지 등록가능합니다.
              </div>
            </template>
          </el-upload>
        </el-form-item>
        <div class="flex justify-center">
          <el-form-item>
            <el-button type="primary" @click="submitNotice"
            >등록
            </el-button
            >
            <el-button @click="pushReturnPage">취소</el-button>
          </el-form-item>
        </div>
      </el-form>
    </div>
  </div>
</template>

<script setup lang="ts">
import {ref, reactive, onMounted} from 'vue'
import type {UploadProps, UploadUserFile} from 'element-plus'
import {storeToRefs} from 'pinia'
import {useNoticeStore} from '~/stores/board'

definePageMeta({
  middleware: 'auth' // this should match the name of the file inside the middleware directory
})

const router = useRouter();
const id = ref('');

// 취소버튼 (공지 리스트 페이지)
const pushReturnPage = () => {
  router.push("/notice")
}


// 공지사항 form 그릇
const boardForm = reactive({
  title: '',
  text: '',
  // img: '',
})

// 스토어 생성
const boardStore = useNoticeStore();

const store = useNoticeStore();
const{fetchNotice} = store;
const {boards} = storeToRefs(store);

await fetchNotice(Number('${id}')).then(() =>{
}).catch(() =>{
  console.log("실패")
});

const submitNotice = () => {
  const payload = {
    title: boardForm.title,
    text: boardForm.text,
    // img:noticeForm.img
  }
  console.log(payload)
  boardStore.putBoard(payload);

  router.push("/notice")
}



const fileList = ref<UploadUserFile[]>([
  {
    name: 'food.jpeg',
    url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100',
  },
  {
    name: 'food2.jpeg',
    url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100',
  },
])

const handleRemove: UploadProps['onRemove'] = (uploadFile, uploadFiles) => {
  console.log(uploadFile, uploadFiles)
}

const handlePreview: UploadProps['onPreview'] = (file) => {
  console.log(file)
}

</script>
