<template>
  <div>
<!--제목, 소제목(헤더)-->
    <div class="flex justify-between">
      <div>
        <h1 class="text-[18px] font-bold text-[#212121]">가게 관리</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">가게 상세 관리</h2>
      </div>
    </div>
<!--가게 정보 박스 1-->
    <div class="w-full mt-2 border-solid border-y border-[#212121]">
      <div class="w-full h-9 bg-[#1a1a1a] text-[#ffffff] font-bold leading-9 ">
        <p class="ml-3 text-[15px]">No. {{ data.id }}</p>
      </div>
      <div class="text-[15px]">
        <div class="w-full">
<!--        <div class="divide-y divide-gray-200 dark:divide-gray-700">-->
          <div class="flex leading-10">
            <div class="flex w-1/2 ">
              <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3] ">가게 명</div>
              <div class="">{{ data.storeName }}</div>
            </div>
            <div class="flex w-1/2">
              <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]">가게 전화번호</div>
              <div class="">{{data.storeNumber}}</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2 ">
              <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3] ">대표자명</div>
              <div class="">{{data.bossName}}</div>
            </div>
            <div class="flex w-1/2">
              <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]">사업자 번호</div>
              <div class="">{{data.shopId}}</div>
            </div>
          </div>
          <hr>
          <div class="flex">
            <div class="py-2 w-32 text-center h-[400px] mr-2 text-[#5e5e5e] bg-[#f3f3f3]">가게 위치</div>
            <GoogleMap class="py-2"
              api-key="AIzaSyAcSXPHg83WSMwZTr2GrzJJPfH-0FSzH0s"
              style="width: 75%; height: 400px"
              :center= "center"
              :zoom="16"
            >
              <Marker :options="{position: center}" />
            </GoogleMap>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-full">
              <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]">가게 주소(도로명)</div>
              <div class="">{{ data.addressStoreDo }}</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-full">
              <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]">가게 주소(지번)</div>
              <div class="">{{ data.addressStoreG }}</div>
            </div>
          </div>
            <hr>
            <div class="flex leading-10">
                <div class="flex w-full">
                    <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]">운영시간</div>
                    <div class="">{{data.sellTime}}</div>
                </div>
            </div>
            <hr>
            <div class="flex leading-10">
                <div class="flex w-full">
                    <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]">휴무일</div>
                    <div class="">{{data.holiday}}</div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="w-full flex justify-center mt-5">
      <TwButton variant="primary" class="w-[4.375rem] text-center text-[14px] bg-[#1a1a1a]">
        확인
      </TwButton>
    </div>
  </div>
</template>
<script setup>
import {TwButton} from "vue3-tailwind";
import { onMounted, ref } from "vue";
import { GoogleMap, Marker } from 'vue3-google-map'


const router = useRouter();
const id = ref('');

const data = ref({
  storeName:'',
  addressStoreDo:'',
  addressStoreG:'',
  storeNumber:'',
  sellTime:'',
  holiday:'',
  deliveryArea:'',
  bossName:'',
  shopId:'',
  xstore:'',
  ystore:'',
})

// const center = { lat:, lng:  }
const center = { lat: 37.2738370966339, lng: 126.571555037643 }


onMounted(async () => {
  id.value = router.currentRoute.value.params.id;
  console.log(id.value);
  try {
    const response = await fetch(`http://matddak.shop:8080/v1/store/detail/${id.value}`);
    const json = await response.json();
    data.value = json.data;
  } catch (error) {
    console.log('', error);
  }
});

</script>
