<template>
  <div>
    <!--제목, 소제목(헤더)-->
    <div class="flex justify-between">
      <div>
        <h1 class="text-[18px] font-bold text-[#212121]">배달 현황</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">배달 현황 상세 내역</h2>
      </div>
    </div>
    <!--배달 상세 내역 -->
    <div class="w-full mt-5 border-solid border-y border-[#212121]" v-if="deliverym">
      <div class="w-full h-9 bg-[#1a1a1a] text-[#ffffff] font-bold leading-9 ">
        <p class="ml-3 text-[15px]">배달 상세 내역 No.{{ deliverym.id}}</p>
      </div>
      <div class="text-[14px]" >
        <div class="w-full">
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3] text-center">주문일</div>
              <div class="">{{ deliverym.datePick}}</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">업소명</div>
                <div class="">{{ deliverym.storeName}}</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">업소주소</div>
                <div class="">{{ deliverym.addressStoreDo}}</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3] text-center">업소 전화번호</div>
                <div class="">{{ deliverym.storeNumber}}</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">도착지</div>
                <div class="">{{ deliverym.addressClientDo}}</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">주문자 번호</div>
                <div class="">{{ deliverym.askId}}</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">주문메뉴</div>
                <div class="">{{ deliverym.askMenu}}</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">가게 요청사항</div>
                <div class="">{{ deliverym.requestStore}}</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">라이더 요청사항</div>
                <div class="">{{ deliverym.requestRider}}</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">주문 가격</div>
                <div class="">{{ deliverym.priceFood}}</div>
            </div>
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">배달료</div>
                <div class="">{{ deliverym.feeTotal}}</div>
            </div>
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">결제 금액</div>
              <div class="">{{ deliverym.priceTotal}}</div>
            </div>
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">수수료</div>
                <div class="">{{ deliverym.feeAdmin}}</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">라이더</div>
                <div class="">{{ deliverym.riderName}}</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">배달 수단</div>
                <div class="">{{ deliverym.driveType}}</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3] text-center">휴대전화 번호</div>
                <div class="">{{ deliverym.phoneRider}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full flex justify-center mt-5">
    <!-- 회색버튼 -->
    <button @click="pushReturnPage" class="transition delay-150 w-[100px] h-[40px] bg-[#F3F3F3] text-[14px] text-center font-bold rounded hover:bg-[#EDEDED] hover:drop-shadow-lg duration-300 mx-1">
      취소
    </button>
  </div>
</template>

<script setup>
import {TwButton} from "vue3-tailwind";
import { ref } from "vue";
import {storeToRefs} from "pinia";
import {useDeliveryStore} from "~/stores/delivery";

const delivery = useDeliveryStore();
const {fetchNotice} = delivery;
const {deliverym} = storeToRefs(delivery);
await fetchNotice('${id}').then(() => {
}).catch(() => {
});


// const deleteShop =(id) => {
//   delShop(id)
//   router.push("/shop")
// }


const router = useRouter();
const id = ref('');

const data = ref({
  datePick:'',
  storeName:'',
  addressStoreDo:'',
  addressClientDo:'',
  askMenu:'',
  requestStore:'',
  requestRider:'',
  priceTotal:'',
  askId:'',
  priceFood:'',
  feeTotal:'',
  riderName:'',
  feeAdmin:'',
  driveType:'',
  phoneRider:'',
  storeNumber:'',
})

// const center = { lat: data.value.storeX, lng: data.value.storeY }
// const center = { lat: 37.2738370966339, lng: 126.571555037643 }


// onMounted(async () => {
//   id.value = router.currentRoute.value.params.id;
//   console.log(id.value);
//   try {
//     const response = await fetch(`http://matddak.shop:8080/v1/store/detail/${id.value}`);
//     const json = await response.json();
//     data.value = json.data;
//   } catch (error) {
//     console.log('', error);
//   }
// });

const pushReturnPage = () => {
  router.back()
}


</script>
