<template>
  <div>
    <!--제목, 소제목(헤더)-->
    <div class="w-full flex justify-between mb-4 gap-3">
      <div class="w-1/4">
        <h1 class="text-xl font-bold text-[#212121]">가게 관리</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">가게 관리 리스트</h2>
      </div>
      <div class="w-2/4"></div>
      <el-select v-model="value" placeholder="지역 선택" style="width: 200px" class="!h-[35px] w-1/4 mt-3 ml-32">
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        />
      </el-select>
      <el-input class="!h-[35px] mt-3 w-[365px]"
                v-model="search"
                style="width: 365px"
                size="large"
                placeholder="검색할 내용을 입력해주세요."
                :suffix-icon="Search"
      />
    </div>
    <div class="table-temp">
      <TwDatatableClient
        class="!dark:text-gray-200"
        :column="data.column"
        :data="deliverys"
      >
        <template #row="{ column, data }">
          <template v-if="column.field === 'id'">
            {{ data.id}}
          </template>
          <template v-if="column.field === 'storeName'">
            {{ data.dateMoneyRenewal }}
          </template>
          <template v-if="column.field === 'addressStoreDo'">
            {{ data.riderName }}
          </template>
          <template v-if="column.field === 'addressStoreG'">
            {{ data.moneyType }}
          </template>
          <template v-if="column.field === 'storeNumber'">
            {{ data.moneyAmount }}
          </template>
          <template v-if="column.field === 'action'">
            <div class="flex gap-2 justify-center">
              <TwButton variant="primary" class="border-solid border-[#ededed] border h-[30px] mr-0.5 leading-4 py-1 text-[#1a1a1a] bg-white" @click="detail(data.id)">
                상세보기
              </TwButton>
            </div>
          </template>
        </template>
      </TwDatatableClient>
    </div>

  </div>
</template>

<script setup lang="ts">
import { TwDatatableClient, TwButton } from "vue3-tailwind";
import { ref } from "vue";
import {Search} from "@element-plus/icons-vue";
import {storeToRefs} from "pinia";
import {useDeliveryStore} from "~/stores/delivery";


definePageMeta({
  middleware: 'auth' // this should match the name of the file inside the middleware directory
})

const value = ref('')
const search = ref('')
const options = [
  {
    value: 'DANWON',
    label: '단원구',
  },
  {
    value: 'SANGROCK',
    label: '상록구',
  },
]
const store = useDeliveryStore();
const{fetchDelivery} = store;
await fetchDelivery().then(() => {
  console.log(data.value)
}).catch(() =>{
});
// await deleteShop('${id}').then(() => {
//   console.log(data)
// }).catch(() =>{
// });
const { deliverys } = storeToRefs(store);
const data = ref({
  column: [
    {
      label: "No",
      field: "id",
      width: "80px",
      sortable: true,
    },
    {
      label: "가게 명",
      field: "storeName",
      width: "180px",
      sortable: true,
    },
    {
      label: "가게주소(도로명)",
      field: "addressStoreDo",
      width: "250px",
      sortable: false,
    },
    {
      label: "가게주소(지번)",
      field: "addressStoreG",
      width: "250px",
      sortable: false,
    },
    {
      label: "가게 전화번호",
      field: "storeNumber",
      width: "150px",
      sortable: false,
    },
    {
      label: "Action",
      field: "action",
      width: "120px",
      sortable: false,
    },
  ],
});


const datatableHook = (arg: any) => {
  arg();
};

// 상세보기 연결
const router = useRouter();

const detail = (id: number) => {
  router.push(`/delivery/detail/${id}`);
}

// const setNew = () => {
//   router.push(`/history/general`)
// }
</script>
