<template>
  <div>
    <div>
      <h1 class="text-xl font-bold text-[#212121]">공지사항</h1>
      <h2 class="text-[13px] text-[#5e5e5e]">공지사항 상세보기</h2>
    </div>
    <hr class="mt-4">
    <div class="grid grid-flow-row auto-rows-max">
      <div class="w-full flex justify-center" >
        <div class="w-full mx-4 my-4">
          <div class="flex justify-between" v-if="board">
            <div class="font-bold text-[16px]">{{ board.title }}</div>
            <div class="text-[12px] mt-2 mr-5">{{ board.dateCreate }}</div>
          </div>역
          <hr>
          <div class="text-[14px] mt-3 mb-2">
            <div class="flex mt-10 mb-7" >
              <img src="/images/logo/main_logo.png" alt="맛딱로고" class="object-cover w-[200px]" >
            </div>
            <div class="mb-12" >
              <p class="text-[15px] mb-5">{{board.text}}</p>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="flex justify-end mt-5  gap-3" >
        <!-- 버튼 종류 -->
        <!-- 주황버튼 -->
        <button class="transition delay-150 w-[100px] h-[40px] bg-[#EB8512] text-[14px] text-center font-bold rounded hover:bg-[#F39B1E] hover:drop-shadow-lg duration-300" @click="pushNotice(board.id)">
          수정
        </button>
        <!-- 회색버튼 -->
        <button class="transition delay-150 w-[100px] h-[40px] bg-[#F3F3F3] text-[14px] text-center font-bold rounded hover:bg-[#EDEDED] hover:drop-shadow-lg duration-300" @click="deleteNotice(board.id)">
          삭제
        </button>
        <!-- 검정버튼 -->
        <button class="transition delay-150 w-[100px] h-[40px] bg-[#1A1A1A] text-[14px] text-center text-[#FFFFFF] font-bold rounded hover:bg-[#3D3D3D] hover:drop-shadow-lg duration-300" @click="pushReturnPage">
          확인
        </button>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import {ref} from "vue";
import {useNoticeStore} from "~/stores/board";
import {storeToRefs} from "pinia";

const boardList = useNoticeStore();
const {fetchNotice, delNotice} = boardList;
const {board} = storeToRefs(boardList);

await fetchNotice('${id}').then(() => {
  // console.log(boards)
}).catch(() => {

});

const id = ref('');
const router = useRouter();

const pushReturnPage = () => {
  router.push("/notice")
}

const deleteNotice = (id:number) => {
  delNotice(id)
  router.push("/notice")
}

const pushNotice = (id:number) => {
  router.push(`/notice/edit/${id}`);
}

</script>

