<template>
  <div>
    <!--제목, 소제목(헤더)-->
    <div class="flex justify-between">
      <div>
        <h1 class="text-xl font-bold text-[#212121]">대시보드</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">맛딱드림 홈</h2>
      </div>
    </div>
    <div class="grid grid-cols-9 gap-3 mt-4">
      <div class="col-span-12 sm:col-span-4 md:col-span-2 lg:col-span-6">
        <div
          class="p-2 rounded bg-white dark:bg-gray-800 shadow flex justify-between gap-3 h-full"
        >
          <div class="flex flex-col justify-between">
            <div class="text-[#212121] dark:text-gray-400 font-[15px] font-bold">가입 라이더 수</div>
            <div class="text-gray-700 dark:text-gray-200 font-bold text-lg">
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3">
        <div
          class="p-2 rounded-lg bg-white dark:bg-gray-800 shadow flex justify-between gap-2 h-full"
        >
          <div class="flex flex-col justify-between">
            <div class="text-[#212121] dark:text-gray-400 font-[15px] font-bold">달력</div>
            <div class="text-gray-700 dark:text-gray-200 font-bold text-lg">
              <span class="text-sm text-red-600"></span>
              <el-calendar v-model="value" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3">
        <div
          class="p-2 rounded-lg bg-white dark:bg-gray-800 shadow flex justify-between gap-2 h-full"
        >
          <div class="flex flex-col justify-between">
            <div class="text-[#212121] dark:text-gray-400 font-[15px] font-bold">일간통계</div>
            <div class="text-gray-700 dark:text-gray-200 font-bold text-lg">
              $103,430
              <span class="text-sm text-yellow-600">+5%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3">
        <div
          class="p-2 rounded-lg bg-white dark:bg-gray-800 shadow flex justify-between gap-2 h-full"
        >
          <div class="flex flex-col justify-between">
            <div class="text-[#212121] dark:text-gray-400 font-[15px] font-bold">주간통계</div>
            <div class="text-gray-700 dark:text-gray-200 font-bold text-lg">
              $103,430
              <span class="text-sm text-yellow-600">+5%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3">
        <div
          class="p-2 rounded-lg bg-white dark:bg-gray-800 shadow flex justify-between gap-2 h-full"
        >
          <div class="flex flex-col justify-between">
            <div class="text-[#212121] dark:text-gray-400 font-[15px] font-bold">월간통계</div>
            <div class="text-gray-700 dark:text-gray-200 font-bold text-lg">
              $103,430
              <span class="text-sm text-yellow-600">+5%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-2 mt-2">
      <div class="col-span-12 md:vt-col-span-6 md:col-span-8">
        <div class="flex gap-2 rounded-lg p-4 shadow bg-white dark:bg-gray-800">
          <div class="flex flex-col justify-between">
            <div class="">
              <div class="text-[#212121] dark:text-gray-400 font-[15px] font-bold">라이더 리스트</div>
              <div class="text-gray-700 dark:text-gray-200 font-bold text-xl">
                Nuxt 3 Admin Dashboard
              </div>
              <div class="">
                From colors, cards, typography to complex elements, you will
                find the full documentation.
              </div>
            </div>
            <div class="">Read More ...</div>
          </div>
        </div>
      </div>
      <div class="col-span-12 md:col-span-4">
        <div class="flex gap-2 bg-white dark:bg-gray-800 rounded-lg p-4 shadow">
          <div class="flex flex-col justify-between">
            <div class="">
              <div class="text-[#212121] dark:text-gray-400 font-[15px] font-bold">공지사항</div>
              <div class="text-gray-700 dark:text-gray-200 font-bold text-xl">
                Nuxt 3 Admin Dashboard
              </div>
              <div class="">
                From colors, cards, typography to complex elements, you will
                find the full documentation.
              </div>
            </div>
            <div class="">Read More ...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { TwFeather } from "vue3-tailwind";

useHead({
  title: "Dashboard",
});

import { ref } from 'vue'
const value = ref(new Date())

definePageMeta({
  middleware: "auth"
})

</script>
