<template>
  <div>
    <div>
      <h1 class="text-xl font-bold text-[#212121]">공지사항</h1>
      <h2 class="text-[13px] text-[#5e5e5e]">공지사항 상세보기</h2>
    </div>
    <hr class="mt-4">
    <div class="grid grid-flow-row auto-rows-max">
      <div class="w-full flex justify-center" >
        <div class="w-full mx-4 my-4">
          <div class="flex justify-between" v-if="boards">
            <div class="font-bold text-[16px]">{{ boards.title }}</div>
            <div class="text-[12px] mt-2 mr-5">{{ boards.dateCreate }}</div>
          </div>
          <hr>
          <div class="text-[14px] mt-3 mb-2">
            <div class="flex mt-10 mb-7" >
              <img src="/images/logo/main_logo.png" alt="맛딱로고" class="object-cover w-[200px]" >
            </div>
            <div class="mb-12" v-if="boards">
              <p class="text-[15px] mb-5">{{boards.text}}</p>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="flex justify-end mt-5  gap-3" v-if="boards">
        <!-- 버튼 종류 -->
        <!-- 주황버튼 -->
        <button class="transition delay-150 w-[100px] h-[40px] bg-[#EB8512] text-[14px] text-center font-bold rounded hover:bg-[#F39B1E] hover:drop-shadow-lg duration-300" @click="pushNotice(boards.id)">
          수정
        </button>
        <!-- 회색버튼 -->
        <button class="transition delay-150 w-[100px] h-[40px] bg-[#F3F3F3] text-[14px] text-center font-bold rounded hover:bg-[#EDEDED] hover:drop-shadow-lg duration-300" @click="deleteNotice(boards.id)">
          삭제
        </button>
        <!-- 검정버튼 -->
        <button class="transition delay-150 w-[100px] h-[40px] bg-[#1A1A1A] text-[14px] text-center text-[#FFFFFF] font-bold rounded hover:bg-[#3D3D3D] hover:drop-shadow-lg duration-300" @click="pushReturnPage">
          확인
        </button>
      </div>
    </div>
  </div>
</template>

<script setup>
import {storeToRefs} from "pinia";
import {useNoticeStore} from "~/stores/board";


definePageMeta({
  middleware: 'auth' // this should match the name of the file inside the middleware directory
})

const store = useNoticeStore();
const{fetchNotice, delNotice} = store;
const {boards} = storeToRefs(store);
// console.log(boards.value)

await fetchNotice('${id}').then(() =>{

}).catch(() =>{
  console.log("실패")
});

// await delNotice('${id}').then(() =>{
//   router.push("/notice")
// }).catch(() =>{
//   console.log("실패")
// });

// const delNotice = async (id) => {
//   try {
//     await boards.delNotice(id);
//     router.push({ path: "/notice" });
//   } catch (error) {
//     console.log(error);
//   }
// }

// await delNotice(Number('${id}')).then(() =>{
// }).catch(() =>{
//     console.log("실패")
// });



const router = useRouter();
// const id = ref('');

// const data = ref(
//   {
//     id: '',
//     title:'',
//     text:'',
//     img:'',
//     dateCreate:''
//   }
// )

// onMounted(async () => {
//   id.value = router.currentRoute.value.params.id;
//   try {
//     const response = await fetch(`http://matddak.shop:8080/v1/board/detail/${id.value}`);
//     const json = await response.json();
//     data.value = json.data;
//   }catch (error) {
//     console.error('',error)
//   }
// });

const pushReturnPage = () => {
  router.push("/notice")
}

const deleteNotice = (id) => {
    delNotice(id)
    router.push("/notice")
}



const pushNotice = (id) => {
    router.push(`/notice/edit/${id}`);
}
</script>
