<template>
  <div>
    <!--제목, 소제목(헤더)-->
    <div class="w-full flex justify-between mb-4 gap-3">
      <div class="w-1/4">
        <h1 class="text-xl font-bold text-[#212121]">입출금 내역 관리</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">라이더 입출금 리스트</h2>
      </div>
      <div class="w-2/4"></div>
      <el-input class="!h-[35px] mt-3 w-[365px]"
                v-model="search"
                style="width: 365px"
                size="large"
                placeholder="검색할 내용을 입력해주세요."
                :suffix-icon="Search"
      />
    </div>
    <div class="table-temp">
      <TwDatatableClient
        class="!dark:text-gray-200"
        :column="data.column"
        :data="moneyList"
      >
        <template #row="{ column, data }">
          <template v-if="column.field === 'id'">
            {{ data.id}}
          </template>
          <template v-if="column.field === 'dateMoneyRenewal'">
            {{ data.dateMoneyRenewal }}
          </template>
          <template v-if="column.field === 'riderName'">
            {{ data.riderName }}
          </template>
          <template v-if="column.field === 'moneyType'">
            {{ data.moneyType }}
          </template>
          <template v-if="column.field === 'moneyAmount'">
            {{ data.moneyAmount }}
          </template>
          <template v-if="column.field === 'action'">
            <div class="flex gap-2 justify-center">
              <TwButton variant="primary" class="border-solid border-[#ededed] border h-[30px] mr-0.5 leading-4 py-1 text-[#1a1a1a] bg-white" @click="detail(data.id)">
                상세보기
              </TwButton>
            </div>
          </template>
        </template>
      </TwDatatableClient>
    </div>

  </div>
</template>

<script setup lang="ts">
import { TwDatatableClient, TwButton } from "vue3-tailwind";
import { ref } from "vue";
import {Search} from "@element-plus/icons-vue";
import {storeToRefs} from "pinia";
import {useHistoryStore} from '~/stores/history';


definePageMeta({
  middleware: 'auth' // this should match the name of the file inside the middleware directory
})

const value = ref('')
const search = ref('')
const options = [
  {
    value: 'DANWON',
    label: '단원구',
  },
  {
    value: 'SANGROCK',
    label: '상록구',
  },
]
const store = useHistoryStore();
const{fetchHistoryList} = store;
await fetchHistoryList().then(() => {
  console.log(data.value)
}).catch(() =>{
});
// await deleteShop('${id}').then(() => {
//   console.log(data)
// }).catch(() =>{
// });
const { moneyList } = storeToRefs(store);
const data = ref({
  column: [
    {
      label: "No",
      field: "id",
      width: "80px",
      sortable: true,
    },
    {
      label: "입출금 날짜",
      field: "dateMoneyRenewal",
      width: "180px",
      sortable: true,
    },
    {
      label: "라이더명",
      field: "riderName",
      width: "250px",
      sortable: false,
    },
    {
      label: "입출금 타입",
      field: "moneyType",
      width: "250px",
      sortable: false,
    },
    {
      label: "입출금 금액",
      field: "moneyAmount",
      width: "150px",
      sortable: false,
    },
    {
      label: "Action",
      field: "action",
      width: "120px",
      sortable: false,
    },
  ],
});


const datatableHook = (arg: any) => {
  arg();
};

// 상세보기 연결
const router = useRouter();

const detail = (id: number) => {
  router.push(`/history/detail/${id}`);
}

const setNew = () => {
  router.push(`/history/general`)
}
</script>
