<template>
  <div>
    <!--제목, 소제목(헤더)-->
    <div class="flex justify-between">
      <div>
        <h1 class="text-[18px] font-bold text-[#212121]">배달 현황</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">배달 현황 상세 내역</h2>
      </div>
    </div>
    <!--배달 상세 내역 -->
    <div class="w-full mt-5 border-solid border-y border-[#212121]">
      <div class="w-full h-9 bg-[#1a1a1a] text-[#ffffff] font-bold leading-9 ">
        <p class="ml-3 text-[15px]">배달 상세 내역 No.2</p>
      </div>
      <div class="text-[14px]">
        <div class="w-full">
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3] text-center">주문일</div>
              <div class="flex justify-between" v-for="deliveryAsk in askDeliverys" :key="deliveryAsk.id">
                <div class="">{{ deliveryAsk.dateAsk}}</div>
              </div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">업소명</div>
              <div class="flex justify-between" v-for="deliveryAsk in askDeliverys" :key="deliveryAsk.id">
                <div class="">{{ deliveryAsk.storeName}}</div>
              </div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">업소주소</div>
              <div class="flex justify-between" v-for="deliveryAsk in askDeliverys" :key="deliveryAsk.id">
                <div class="">{{ deliveryAsk.addressStoreDo}}</div>
              </div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3] text-center">업소 전화번호</div>
              <div class="flex justify-between" v-for="deliveryAsk in askDeliverys" :key="deliveryAsk.id">
                <div class="">{{ deliveryAsk.dateAsk}}</div>
              </div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">도착지</div>
              <div class="flex justify-between" v-for="deliveryAsk in askDeliverys" :key="deliveryAsk.id">
                <div class="">{{ deliveryAsk.addressClientDo}}</div>
              </div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">주문자 번호</div>
              <div class="flex justify-between" v-for="deliveryAsk in askDeliverys" :key="deliveryAsk.id">
                <div class="">{{ deliveryAsk.id}}</div>
              </div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">주문메뉴</div>
              <div class="flex justify-between" v-for="deliveryAsk in askDeliverys" :key="deliveryAsk.id">
                <div class="">{{ deliveryAsk.askMenu}}</div>
              </div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">가게 요청사항</div>
              <div class="flex justify-between" v-for="deliveryAsk in askDeliverys" :key="deliveryAsk.id">
                <div class="">{{ deliveryAsk.requestStore}}</div>
              </div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">라이더 요청사항</div>
              <div class="flex justify-between" v-for="deliveryAsk in askDeliverys" :key="deliveryAsk.id">
                <div class="">{{ deliveryAsk.requestRider}}</div>
              </div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">주문 가격</div>
              <div class="flex justify-between" v-for="deliveryAsk in askDeliverys" :key="deliveryAsk.id">
                <div class="">{{ deliveryAsk.priceFood}}</div>
              </div>
            </div>
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">배달료</div>
              <div class="flex justify-between" v-for="deliveryAsk in askDeliverys" :key="deliveryAsk.id">
                <div class="">{{ deliveryAsk.feeTotal}}</div>
              </div>
            </div>
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">결제 금액</div>
              <div class="flex justify-between" v-for="deliveryAsk in askDeliverys" :key="deliveryAsk.id">
                <div class="">{{ deliveryAsk.priceFood}}</div>
              </div>
            </div>
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">수수료</div>
              <div class="flex justify-between" v-for="deliveryAsk in askDeliverys" :key="deliveryAsk.id">
                <div class="">{{ deliveryAsk.priceFood}}</div>
              </div>
            </div>
          </div>
          <hr>
<!--          <div class="flex leading-10">-->
<!--            <div class="flex w-1/2">-->
<!--              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">라이더</div>-->
<!--              <div class="flex justify-between" v-for="delivery in deliverys" :key="delivery.id">-->
<!--                <div class="">{{ delivery.riderName}}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <hr>-->
<!--          <div class="flex leading-10">-->
<!--            <div class="flex w-1/2">-->
<!--              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">배달 수단</div>-->
<!--              <div class="flex justify-between" v-for="delivery in deliverys" :key="delivery.id">-->
<!--                <div class="">{{ delivery.driveType}}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <hr>-->
<!--          <div class="flex leading-10">-->
<!--            <div class="flex w-1/2">-->
<!--              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3] text-center">휴대전화 번호</div>-->
<!--              <div class="flex justify-between" v-for="delivery in deliverys" :key="delivery.id">-->
<!--                <div class="">{{ delivery.phoneRider}}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <hr>-->
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full flex justify-center mt-5">
    <!-- 버튼 종류 -->
    <!-- 주황버튼 -->
    <button class="transition delay-150 w-[100px] h-[40px] bg-[#EB8512] text-[14px] text-center font-bold rounded hover:bg-[#F39B1E] hover:drop-shadow-lg duration-300 mx-1">
      수정
    </button>
    <!-- 회색버튼 -->
    <button @click="pushReturnPage" class="transition delay-150 w-[100px] h-[40px] bg-[#F3F3F3] text-[14px] text-center font-bold rounded hover:bg-[#EDEDED] hover:drop-shadow-lg duration-300 mx-1">
      취소
    </button>
    <!-- 검정버튼 -->
    <button class="transition delay-150 w-[100px] h-[40px] bg-[#1A1A1A] text-[14px] text-center text-[#FFFFFF] font-bold rounded hover:bg-[#3D3D3D] hover:drop-shadow-lg duration-300 mx-1">
      확인
    </button>
  </div>
</template>

<script setup>
import {ref} from "vue";
import {storeToRefs} from "pinia";
import {useNoticeAskDelivery} from "~/stores/deliveryAsk";

const askDelivery = useNoticeAskDelivery();
const{fetchNotice} = askDelivery;
const {askDeliverys} = storeToRefs(askDelivery);
console.log(askDeliverys)


await fetchNotice('${id}').then(() =>{
  console.log()
}).catch(() =>{
  console.log("실패")
});


const router = useRouter();
const id = ref('');

const pushReturnPage = () => {
  router.back();
}

</script>
